@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <img src="../images/meme.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Da click para más información" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Infomación</label>
    </div>
    <div>
        <button type="button" onclick="cambiarTexto()" class="btn btn-outline-info btn-lg">Info</button>
    </div>
</div>
<script>

    function cambiarTexto() {
      document.getElementById("floatingTextarea").innerHTML = "Mi nombre es Daniel Mena, mi hobbie es jugar videojuegos y el valor del campo de texto es: floatingTextarea";
    }
</script>
